body {
  font-family: 'Raleway', sans-serif;
  background: #edc8ff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/*NAVBAR*/
.navbar {
  background-color: #9a49ee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  padding: 0;
  margin:0;
}

.navbar a {
  font-size:.8em;
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

@media only screen and (min-width:700px) {
  .navbar a {
    font-size:1em;
  }

}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; /*height to 100% of view height*/
  background: #c87aff; /*background color to blue*/
  margin: 0; /*no bottom margin*/
  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

@media only screen and (min-width:700px) {
  .jumbotron-text {
    font-size:1.25em;
  }

}

@media only screen and (min-width:800px) {
  .jumbotron-text {
    font-size:1.5em;
  }

}

@media only screen and (min-width:900px) {
  .jumbotron-text {
    font-size:2em;
  }


}

.email {
font-family: 'Coiny', cursive;
font-weight: 200;
font-size: 2em;
color: white;
text-align: center;
padding-top: 150px;
}

.more {
  color: #9a49ee;
font-size: 2em;

}

.project-more {
  color: #9a49ee;
font-size: 1em;
text-align: center;
}

a.mail {
  color:white;
}


.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  font-family: 'Coiny', sans-serif;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

.email p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: white;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
  margin:0;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 8.5%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

h2 {
  font-weight: 200;
  font-size: 2rem;
  font-family: 'Coiny', sans-serif;
  color: #9a49ee;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size:1.7em;
  font-family: 'Varela Round', sans-serif;
  color:#9a49ee;
}

.content-body {
  line-height: 1.5;
  color: rgba(0,0,0,.75);
}

.content-footer {
  color: #8c39ff;
  text-align: center;
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: #be60ff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
  color: white;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: black;
}
  
}
.class-education {
  background-color: #edc8ff;
}
.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image img {
  width: 250px;
  height: auto;
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #9a49ee;
  list-style: none;
  cursor: default;
  font-size: 1.7em;
  font-family: 'Varela Round', sans-serif;

}

/*CONTACT*/
.blue {
  background: #c87aff;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #daa6ff;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #9a21ee;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.white-text {
  color: white;
}
